.bg-primary {
  background-color: $primary-color;
}

.bg-secondary {
  background-color: $secondary-color;
}

.bg-tertiary {
  background-color: $tertiary-color;
}

.bg-warning {
  background-color: $warning-color;
}

.bg-positive {
  background-color: $positive-color;
}

.bg-negative {
  background-color: $negative-color;
}
