.flex {
  display: flex;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
}

.inline-flex {
  display: inline-flex;
}

.no-wrap {
  flex-wrap: nowrap !important;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: flex-start;
}

.align-self-center {
  align-self: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-self-center {
  justify-self: center;
}
