$spaces: (
  none: $space-none,
  xs: $space-xs,
  sm: $space-sm,
  md: $space-md,
  lg: $space-lg,
  xl: $space-xl
);

@mixin margin($top: null, $right: null, $bottom: null, $left: null) {
  margin-bottom: $bottom;
  margin-left: $left;
  margin-right: $right;
  margin-top: $top;
}

@mixin padding($top: null, $right: null, $bottom: null, $left: null) {
  padding-bottom: $bottom;
  padding-left: $left;
  padding-right: $right;
  padding-top: $top;
}

@each $name, $value in $spaces {
  .m-b-#{$name} {
    @include margin($bottom: $value);
  }

  .m-l-#{$name} {
    @include margin($left: $value);
  }

  .m-r-#{$name} {
    @include margin($right: $value);
  }

  .m-t-#{$name} {
    @include margin($top: $value);
  }

  .p-b-#{$name} {
    @include padding($bottom: $value);
  }

  .p-l-#{$name} {
    @include padding($left: $value);
  }

  .p-r-#{$name} {
    @include padding($right: $value);
  }

  .p-t-#{$name} {
    @include padding($top: $value);
  }
}
