$spaces: (
  none: $space-none,
  xs: $space-xs,
  sm: $space-sm,
  md: $space-md,
  lg: $space-lg,
  xl: $space-xl,
  auto: auto
);

$positions: (
  top: t,
  right: r,
  bottom: b,
  left: l,
);

@each $name, $value in $spaces {
  @each $position, $nick-name in $positions {
    .m-#{$nick-name}-#{$name} {
      margin-#{$position}: $value;
    }

    .m-#{$nick-name}-n-#{$name} {
      margin-#{$position}: -$value;
    }

    .p-#{$nick-name}-#{$name} {
      padding-#{$position}: $value;
    }
  }
}
