// text color
.text-primary {
  color: $primary-color;
}

.text-secondary {
  color: $secondary-color;
}

.text-white {
  color: $white;
}

.text-black {
  color: $black;
}

.text-negative {
  color: $negative-color;
}

.text-positive {
  color: $positive-color;
}

.text-warning {
  color: $warning-color;
}

.text-color {
  color: $text-color;
}

// text position
.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

// text weight
.text-bold {
  font-weight: $font-weight-bold;
}

.text-weight-normal {
  font-weight: normal;
}

//text type
.text-caption {
  font-weight: bold;
}

.text-heavy {
  font-size: $font-size-extra-large;
  font-weight: bold;
}

.text-subtitle {
  color: $tertiary-color;
  font-size: $font-size-small;
}

.text-title {
  color: $primary-color;
  font-size: $font-size-medium;
  font-weight: bold;
  text-transform: uppercase;
}

.text-transform-initial {
  text-transform: initial;
}

// text size
.text-size-sm {
  font-size: $font-size-small;
}

.text-size {
  font-size: $font-size;
}

.text-size-md {
  font-size: $font-size-medium;
}

.text-size-lg {
  font-size: $font-size-large;
}

.text-size-xl {
  font-size: $font-size-extra-large;
}
