.typography {
  color: $text-color;

  &--caption {
    font-weight: bold;
  }

  &--subtitle {
    color: $tertiary-color;
  }

  &--title {
    color: $primary-color;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
  }

  &--heavy-text {
    font-size: $font-size-extra-large;
    font-weight: bold;
  }

  &--primary-color {
    color: $primary-color;
  }

  &--secondary-color {
    color: $secondary-color;
  }

  &--weight-bold {
    font-weight: $font-weight-bold;
  }
}
