* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

body {
  background-color: $background-color;
  color: $text-color;
  font: $font-weight $font-size $font-family;
}

a {
  color: inherit;
}

// Vue Transitions
.fade-leave-to,
.fade-enter {
  opacity: 0;
}

.fade-leave-active,
.fade-enter-active {
  transition: opacity 300ms ease-in-out;
}

// text
.text-primary {
  color: $primary-color;
}

.text-negative {
  color: $negative-color;
}

.text-positive {
  color: $positive-color;
}

.text-warning {
  color: $warning-color;
}
